.hackerBuddyButtonHide {
  visibility: hidden;
  animation: showButton 3s ease-in-out 3s forwards;
}
.hackerBuddyBottom {
  visibility: hidden;
  animation: showButton 3s ease-in-out 3s forwards;
}
@keyframes showButton {
  to {
    visibility: visible;
  }
}
.dataToolTip2 {
  display: inline-block;
  position: relative;
}
.dataToolTip2:hover::before,
.dataToolTip2:hover::after {
  --scale: 1;
}
.dataToolTip2::before {
  left: 50%;
  transform: translateX(-50%) scale(var(--scale));
  transform-origin: top center;
  transition: ease-in 0.25s;
  bottom: -2.85rem;
  --scale: 0;
  z-index: 3;
}

.dataToolTip2::after {
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  padding: 0.1em 0.1em 0.2em 0.1em;
  left: 50%;
  transform: translateX(-50%) scale(var(--scale));
  transform-origin: bottom center;
  transition: 0.25s;
  border: 15px solid transparent;
  border-bottom: whitesmoke 10px solid;
  bottom: -.55rem;
  --scale: 0;
  z-index: 2;
}
.dataToolTipStyles:before {
  background: radial-gradient( black, rgb(39, 38, 38));
  color: rgba(255, 255, 0);
  border: .5px solid rgba(135, 206, 235, 0.2);
  font-weight:400;
  border-radius: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 2rem;
  padding-right: 2rem;
  width: max-content;
  position: absolute;
  content: attr(data-tool-tip);
}